@import "bulma";

.my-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.center-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
  align-items: center;
}

.center-container-row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
}

.inputBox {
  width: 300;
  margin: 5px;
}

.btn-primary {
  background-color: #053e5f !important;
  color: white !important;
  border-color: #053e5f !important;
}

.column-content-size {
  width: 300px;
  height: 300px;
}

@media (min-width: $desktop) {
  .column-content-size {
    width: 400px;
    height: 400px;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.is-reversed {
  flex-direction: row-reverse;
}

.clickable {
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

@media (min-width: $desktop) {
  .box {
    width: 400px;
    height: 400px;
  }
}

.column {
  display: flex;
  justify-content: center;
}

@media (max-width: $tablet) {
  .mt-mobile-only {
    margin-top: 50px;
  }

  .pt-6-mobile {
    margin-top: 40px;
  }
}
