.center-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.center-container-row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
}

.inputBox {
  width: 300;
  margin: 5px;
}

.btn-primary {
  background-color: white !important;
  color: #053e5f !important;
  border-color: #053e5f !important;
}

/* .btnc {
  margin-top: 20px;
  padding: 10px;
  background: "white";
  border-radius: 20px;
  font-weight: "bold";
  color: #053e5f;
}

.btncb {
  width: 100px;
  padding: 15px;
  background: "white";
  border-radius: 20px;
  font-weight: "bold";
  color: "black";
}

.btn-modal {
  box-sizing: border-box;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btnc:hover {
  background: #053e5f;
  color: white;
}

.btncb:hover {
  background: #0000;
  color: white;
} */

.image {
  width: 300px;
  height: 300px;
}

@media (min-width: 500px) {
  .image {
    width: 400px;
    height: 400px;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
